openapi: 3.0.1
info:
  contact:
    email: apiteam@deel.com
    name: Deel API Team
  description: API specification for Deel HR user provisioning API. This YAML file
    is a preview of the API Deel is building. We are looking forward to your feedback.
  termsOfService: https://www.letsdeel.com/terms-of-service
  title: Deel REST API
  version: 1.25.0
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
  x-konfig-uses-multipart-form-data: true
externalDocs:
  description: Find out more about Deel APIs.
  url: https://developer.letsdeel.com
servers:
- description: Production server
  url: https://api.letsdeel.com/rest/v2
- description: Demo server
  url: https://api-staging.letsdeel.com/rest/v2
tags:
- description: API end-points related to Partner Managed data.
  externalDocs:
    description: See
    url: https://developer.letdeel.com
  name: Partner Managed
- description: Global Payroll
  externalDocs:
    description: See
    url: https://developer.letsdeel.com
  name: Global Payroll
- description: API end-points related to People data.
  externalDocs:
    description: See
    url: https://developer.letdeel.com
  name: People
- description: "The Contracts resource lets you create, amend and, retrieve Deel contracts."
  externalDocs:
    description: See
    url: https://developer.deel.com/rest/v2/#contracts
  name: Contracts
- description: "The Contracts resource lets you create, amend and, retrieve Deel contracts."
  externalDocs:
    description: See
    url: https://developer.deel.com/rest/v2/#contracts
  name: Contractors
- description: "The Invoices resource lets you create, amend and retrieve invoices\
    \ related to Deel contracts."
  externalDocs:
    description: See
    url: https://developer.letsdeel.com
  name: Invoices
- description: "The Invoices resource lets you create, amend and retrieve timesheets\
    \ of Deel contracts."
  externalDocs:
    description: See
    url: https://developer.letsdeel.com
  name: Timesheets
- description: Manage time off requests.
  externalDocs:
    description: See
    url: https://developer.letsdeel.com
  name: Time Off
- name: User
- description: Employee of Record (EOR).
  externalDocs:
    description: See
    url: https://developer.letsdeel.com
  name: EOR
- description: Helper end-points for managing milestones of Deel contracts
  externalDocs:
    description: See
    url: https://developer.deel.com/rest/v2/#milestones
  name: Milestones
- description: Helper end-points for additional information about your organizations
  externalDocs:
    description: See
    url: https://developer.deel.com/rest/v2/#organizations
  name: Organizations
- description: API end-points related to Adjustments data.
  externalDocs:
    description: See
    url: https://developer.letdeel.com
  name: Adjustments
- name: Webhooks
- description: End-points to retrieve paid invoices and receipts.
  externalDocs:
    description: See
    url: https://developer.deel.com
  name: Accounting
- description: Helper end-points for choosing options for other operations
  externalDocs:
    description: See
    url: https://developer.deel.com/rest/v2/#lookups
  name: Lookups
- description: End-points to manage tasks for a given contract
  externalDocs:
    description: See
    url: https://developer.deel.com/rest/v2/#tasks
  name: Tasks
- description: End-points to manage off-cycle payments for a given contract
  externalDocs:
    description: See
    url: https://developer.deel.com/rest/v2/#off-cycle-payments
  name: Off-cycle Payments
- description: API endpoints related to Candidates.
  externalDocs:
    description: See
    url: https://developer.letdeel.com
  name: Candidates
- description: API end-points related to Manager data.
  externalDocs:
    description: See
    url: https://developer.letdeel.com
  name: Managers
- description: End-points to generate temporary tokens to use with embedded Deel SDK
    components.
  externalDocs:
    description: See
    url: https://developer.letsdeel.com
  name: Token
- name: Attachments
- name: ServiceProviderConfig
- description: API end-points related to HRIS data.
  externalDocs:
    description: See
    url: https://developer.letdeel.com
  name: Hris
- description: The Legal Entities resource lets you manage your legal entities
  externalDocs:
    description: See
    url: https://developer.deel.com/rest/v2/#legalentities
  name: Legal Entities
- description: Helper end-points for additional information about your teams
  externalDocs:
    description: See
    url: https://developer.letsdeel.com
  name: Teams
paths:
  /invoices:
    get:
      description: Retrieve a list of paid invoices for your workforce.
      operationId: Accounting_getPaidInvoices
      parameters:
      - description: to get records created after given issue date
        explode: true
        in: query
        name: issued_from_date
        required: false
        schema:
          type: string
        style: form
      - description: to get records created before given issued date
        explode: true
        in: query
        name: issued_to_date
        required: false
        schema:
          type: string
        style: form
      - description: "Return a page of results with given number of records; NOTE:\
          \ technically ALL query parameters are strings or array of strings"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          example: 10
          maximum: 99
          minimum: 1
          type: number
          x-konfig-original-example: 10
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-ParamLimit-schema
        style: form
      - description: "Return a page of results after given index of row; NOTE: technically\
          \ ALL query parameters are strings or array of strings"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          format: int64
          maximum: 999999999
          minimum: 0
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-ParamOffset-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceListContainer'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - accounting:read
      summary: Retrieve invoices
      tags:
      - Accounting
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--invoices
      x-accepts: application/json
  /invoices/deel:
    get:
      description: Retrieve a list of invoices related to Deel fees.
      operationId: Accounting_getDeelInvoices
      parameters:
      - description: "Return a page of results with given number of records; NOTE:\
          \ technically ALL query parameters are strings or array of strings"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          example: 10
          maximum: 99
          minimum: 1
          type: number
          x-konfig-original-example: 10
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-ParamLimit-schema
        style: form
      - description: "Return a page of results after given index of row; NOTE: technically\
          \ ALL query parameters are strings or array of strings"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          format: int64
          maximum: 999999999
          minimum: 0
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-ParamOffset-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeelInvoiceListContainer'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - accounting:read
      summary: Retrieve Deel invoices
      tags:
      - Accounting
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--invoices-deel
      x-accepts: application/json
  /invoices/{invoice_id}/download:
    get:
      description: Get link to download the invoice PDF.
      operationId: Accounting_getInvoicePdfDownloadLink
      parameters:
      - description: ID of an existing invoice
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceDownloadLinkContainer'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - accounting:read
      summary: Download invoice PDF
      tags:
      - Accounting
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--invoices-invoice_id-download
      x-accepts: application/json
  /managers:
    get:
      description: List all organization managers.
      operationId: Managers_list
      parameters:
      - description: Maximum number of records to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          $ref: '#/components/schemas/AgreementsParamLimit'
        style: form
      - description: Offset/index of record for the next page of records to return.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          $ref: '#/components/schemas/AgreementsParamOffset'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUsersContainer'
          description: Basic information of the new admin user.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "409":
          description: A matching profile already exists.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - organizations:read
      summary: List of managers
      tags:
      - Managers
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--managers
      x-accepts: application/json
    post:
      description: Create a new organization manager.
      operationId: Managers_createNewManager
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreateAdminUser'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAdminUserResponseContainer'
          description: Basic information of the new admin user.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "409":
          description: A matching profile already exists.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - organizations:write
      summary: Create a manager
      tags:
      - Managers
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--managers
      x-content-type: application/json
      x-accepts: application/json
  /hris/direct-employees:
    post:
      operationId: People_createDirectEmployee
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreateHrisDirectEmployee'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HrisDirectEmployeeContainer'
          description: Hris direct employee object that was created or edited
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "409":
          description: A matching profile already exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      summary: Create a new Hris direct employee
      tags:
      - People
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--hris-direct-employees
      x-content-type: application/json
      x-accepts: application/json
  /eor/validations/{country_code}:
    get:
      description: Retrieve the hiring guide data for a country. This data can be
        used to create Employee of Record (EOR) contract quotes.
      operationId: Eor_getCountryGuide
      parameters:
      - description: Country code.
        example: US
        explode: false
        in: path
        name: country_code
        required: true
        schema:
          $ref: '#/components/schemas/CountryCode'
        style: simple
        x-konfig-original-example: US
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EorCountryValidationsContainer'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - contracts:read
      summary: Retrieve country guide
      tags:
      - EOR
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--eor-validations-country_code
      x-accepts: application/json
  /eor/workers/{worker_id}/payslips:
    get:
      description: Get of payslips for an employee.
      operationId: Eor_getEmployeePayslips
      parameters:
      - description: Unique identifier for a worker.
        example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
        explode: false
        in: path
        name: worker_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EORPayslipsListContainer'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - payslips:read
      summary: Retrieve employee payslips
      tags:
      - EOR
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--eor-workers-worker_id-payslips
      x-accepts: application/json
  /eor/workers/{worker_id}/payslips/{payslip_id}/download:
    get:
      description: Get download url for EOR payslip.
      operationId: Eor_getPayslipDownload
      parameters:
      - description: Unique identifier for a worker.
        example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
        explode: false
        in: path
        name: worker_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
      - description: Unique identifier for a payslip.
        example: ApdZbLvq0r0E
        explode: false
        in: path
        name: payslip_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: ApdZbLvq0r0E
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EORPayslipDownloadUrlContainer'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - payslips:read
      summary: Download payslip PDF
      tags:
      - EOR
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--eor-workers-worker_id-payslips-payslip_id-download
      x-accepts: application/json
  /eor/employment_cost:
    post:
      description: Determine EOR employee costs across the globe.
      operationId: Eor_calculateEmployeeCosts
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCalculateEorEmployeeCost'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EorEmployeeCostCalculationResponseContainer'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2: []
      - public: []
      summary: Employee Cost Calculator
      tags:
      - EOR
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--eor-employment_cost
      x-content-type: application/json
      x-accepts: application/json
  /eor/{contract_id}/benefits:
    get:
      description: Retrieve EOR contract benefits
      operationId: Eor_getContractBenefits
      parameters:
      - description: Deel contract id.
        example: 37nex2x
        explode: false
        in: path
        name: contract_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 37nex2x
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EORContractBenefitsContainer'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - contracts:read
      summary: Get EOR contract benefits
      tags:
      - EOR
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--eor-contract_id-benefits
      x-accepts: application/json
  /eor:
    post:
      description: Create an Employee of Record (EOR) contract quote. The endpoints
        creates a contract quote request. Deel will process the information and get
        back with a quote for this contract.
      operationId: Eor_createContractQuote
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyForEorContractCreation'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EorContractCreatedContainer'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - contracts:read
        - contracts:write
      summary: Create an EOR contract
      tags:
      - EOR
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--eor
      x-content-type: application/json
      x-accepts: application/json
  /contracts/gp:
    post:
      description: Create a Global Payroll contract.
      operationId: GlobalPayroll_createContractGp
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyForGPContractCreation'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GPContractCreatedContainer'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - contracts:write
      summary: Create a contract
      tags:
      - Global Payroll
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--contracts-gp
      x-content-type: application/json
      x-accepts: application/json
  /contracts/time-based:
    post:
      operationId: Contractors_createNewTimeBasedContract
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreateContractTimeBased'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractContainer_pay_as_you_go_time_based'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - contracts:write
      summary: Create a new contract (time-based)
      tags:
      - Contractors
      x-internal: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--contracts-time-based
      x-content-type: application/json
      x-accepts: application/json
  /gp/workers/{worker_id}/payslips:
    get:
      description: Get of payslips for an employee.
      operationId: GlobalPayroll_getPayslips
      parameters:
      - description: Unique identifier for a worker.
        example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
        explode: false
        in: path
        name: worker_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GPPayslipsListContainer'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - payslips:read
      summary: Retrieve employee payslips
      tags:
      - Global Payroll
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--gp-workers-worker_id-payslips
      x-accepts: application/json
  /gp/workers/{worker_id}/address:
    patch:
      description: Update the address of a Global Payroll employee.
      operationId: GlobalPayroll_updateWorkerAddress
      parameters:
      - description: Unique identifier for a worker.
        example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
        explode: false
        in: path
        name: worker_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyForGPEmployeeAddressUpdate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GPEmployeeAddressUpdatedContainer'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - people:write
      summary: Update address
      tags:
      - Global Payroll
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--gp-workers-worker_id-address
      x-content-type: application/json
      x-accepts: application/json
  /gp/workers/{worker_id}/banks:
    get:
      description: Retrieve all bank accounts for an employee.
      operationId: GlobalPayroll_getBankAccounts
      parameters:
      - description: Unique identifier for a worker.
        example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
        explode: false
        in: path
        name: worker_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerBankAccountsInfoContainer'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - people:read
      summary: Retrieve bank accounts
      tags:
      - Global Payroll
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--gp-workers-worker_id-banks
      x-accepts: application/json
    post:
      description: Add a new bank account for an employee.
      operationId: GlobalPayroll_addBankAccount
      parameters:
      - description: Unique identifier for a worker.
        example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
        explode: false
        in: path
        name: worker_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyForAddWorkerBankAccount'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountUpdatedContainer'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - people:write
      summary: Add bank account
      tags:
      - Global Payroll
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--gp-workers-worker_id-banks
      x-content-type: application/json
      x-accepts: application/json
  /gp/workers/{worker_id}/banks/{bank_id}:
    patch:
      description: Modify bank account for an employee.
      operationId: GlobalPayroll_modifyBankAccount
      parameters:
      - description: Unique identifier for a worker.
        example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
        explode: false
        in: path
        name: worker_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
      - description: Bank Account id.
        example: dcc7b587-2246-4909-853e-12056e90c451
        explode: false
        in: path
        name: bank_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: dcc7b587-2246-4909-853e-12056e90c451
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyForAddWorkerBankAccount'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountUpdatedContainer'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - people:write
      summary: Modify bank account
      tags:
      - Global Payroll
      x-forbidden-token-types:
      - personal
      - organization
      - oauth2
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--gp-workers-worker_id-banks-bank_id
      x-content-type: application/json
      x-accepts: application/json
  /gp/workers/{worker_id}/banks/guide:
    get:
      description: Retrieve the bank form guide for employee.
      operationId: GlobalPayroll_getBankGuide
      parameters:
      - description: Unique identifier for a worker.
        example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
        explode: false
        in: path
        name: worker_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountGuideContainer'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - people:read
      summary: Retrieve bank guide
      tags:
      - Global Payroll
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--gp-workers-worker_id-banks-guide
      x-accepts: application/json
  /gp/workers/{worker_id}/compensation:
    patch:
      description: Update the compensation of a Global Payroll employee. Returns the
        full compensation history including the update.
      operationId: GlobalPayroll_updateCompensationHistory
      parameters:
      - description: Unique identifier for a worker.
        example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
        explode: false
        in: path
        name: worker_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyForGPEmployeeCompensationUpdate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GPEmployeeCompensationUpdatedContainer'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - people:write
      summary: Update compensation
      tags:
      - Global Payroll
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--gp-workers-worker_id-compensation
      x-content-type: application/json
      x-accepts: application/json
  /gp/workers/{worker_id}/pto-policy:
    patch:
      description: Update the PTO policy of a Global Payroll employee.
      operationId: GlobalPayroll_updatePtoPolicy
      parameters:
      - description: Unique identifier for a worker.
        example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
        explode: false
        in: path
        name: worker_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyForGPEmployeePTOUpdate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResultUpdated'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - people:write
      summary: Update PTO policy
      tags:
      - Global Payroll
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--gp-workers-worker_id-pto-policy
      x-content-type: application/json
      x-accepts: application/json
  /gp/workers/{worker_id}/employee-information:
    patch:
      description: Update Global Payroll employee information.
      operationId: GlobalPayroll_updateEmployeeInformation
      parameters:
      - description: Unique identifier for a worker.
        example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
        explode: false
        in: path
        name: worker_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyForGPEmployeeEmployeeUpdate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GPEmployeeInformationUpdatedContainer'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - people:write
      summary: Update employee information
      tags:
      - Global Payroll
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--gp-workers-worker_id-employee-information
      x-content-type: application/json
      x-accepts: application/json
  /gp/workers/{worker_id}/payslips/{payslip_id}/download:
    get:
      description: Get download url for GP payslip.
      operationId: GlobalPayroll_getPayslipDownloadUrl
      parameters:
      - description: Unique identifier for a worker.
        example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
        explode: false
        in: path
        name: worker_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
      - description: Unique identifier for a payslip.
        example: ApdZbLvq0r0E
        explode: false
        in: path
        name: payslip_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: ApdZbLvq0r0E
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GPPayslipDownloadUrlContainer'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - payslips:read
      summary: Download payslip PDF
      tags:
      - Global Payroll
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--gp-workers-worker_id-payslips-payslip_id-download
      x-accepts: application/json
  /gp/legal-entities/{legal_entity_id}/reports:
    get:
      description: Get list of global payroll events by legal entities.
      operationId: GlobalPayroll_listPayrollEventsByLegalEntity
      parameters:
      - description: Id of an legal entity.
        explode: false
        in: path
        name: legal_entity_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Start date of payroll report.
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          $ref: '#/components/schemas/DateString'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GPPayrollEventReportContainer'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - global-payroll:read
      summary: List payroll events by legal entity
      tags:
      - Global Payroll
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--gp-legal-entities-legal_entity_id-reports
      x-accepts: application/json
  /gp/reports/{gp_report_id}/gross_to_net:
    get:
      description: Get list of global payroll reports detailing gross-to-net calculations.
      operationId: GlobalPayroll_getGrossToNetGpReport
      parameters:
      - description: Id of gp report.
        explode: false
        in: path
        name: gp_report_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalPayrollG2NReportContainer'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - global-payroll:read
      summary: List gross-to-net report
      tags:
      - Global Payroll
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--gp-reports-gp_report_id-gross_to_net
      x-accepts: application/json
  /gp/reports/{gp_report_id}/gross_to_net/csv:
    get:
      description: Download global payroll reports detailing gross-to-net calculations.
      operationId: GlobalPayroll_downloadGrossToNetGpReport
      parameters:
      - description: Id of gp report.
        explode: false
        in: path
        name: gp_report_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/GlobalPayrollDownloadGrossToNetGpReportResponse'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - global-payroll:read
      summary: Download gross-to-net report
      tags:
      - Global Payroll
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--gp-reports-gp_report_id-gross_to_net-csv
      x-accepts: application/json
  /gp/workers/{worker_id}/terminations:
    post:
      description: Request a termination for a global payroll employee. A successful
        call starts the termination process and does not confirm termination.
      operationId: GlobalPayroll_requestTerminationProcess
      parameters:
      - description: Unique identifier for a worker.
        example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
        explode: false
        in: path
        name: worker_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyForWorkerTermination'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerTerminationContainer'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - global-payroll:write
      summary: Request termination
      tags:
      - Global Payroll
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--gp-workers-worker_id-terminations
      x-content-type: application/json
      x-accepts: application/json
  /adjustments:
    post:
      description: Create a new adjustment.
      operationId: Adjustments_createNewAdjustment
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreateAdjustment'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdjustmentCreatedContainer'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - adjustments:write
      summary: Create a new adjustment
      tags:
      - Adjustments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--adjustments
      x-content-type: multipart/form-data
      x-accepts: application/json
  /adjustments/{adjustment_id}:
    delete:
      description: Delete an adjustment.
      operationId: Adjustments_removeAdjustment
      parameters:
      - description: Adjustment id.
        explode: false
        in: path
        name: adjustment_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResultDeleted'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - adjustments:write
      summary: Delete an adjustment
      tags:
      - Adjustments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--adjustments-adjustment_id
      x-accepts: application/json
    get:
      description: Retrieve an adjustment.
      operationId: Adjustments_getById
      parameters:
      - description: Adjustment id.
        explode: false
        in: path
        name: adjustment_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdjustmentCreatedContainer'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - adjustments:read
      summary: Retrieve an adjustment
      tags:
      - Adjustments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--adjustments-adjustment_id
      x-accepts: application/json
    patch:
      description: Update an adjustment.
      operationId: Adjustments_updateAdjustment
      parameters:
      - description: Adjustment id.
        explode: false
        in: path
        name: adjustment_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToUpdateAdjustment'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResultUpdated'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - adjustments:write
      summary: Update an adjustment
      tags:
      - Adjustments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--adjustments-adjustment_id
      x-content-type: application/json
      x-accepts: application/json
  /adjustments/categories:
    get:
      description: Get all categories for your organization.
      operationId: Adjustments_getCategories
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdjustmentsCategoriesContainer'
          description: Successful operation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - adjustments:read
      summary: Retrieve categories
      tags:
      - Adjustments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--adjustments-categories
      x-accepts: application/json
  /candidates:
    post:
      description: Add a candidate to Deel.
      operationId: Candidates_addCandidateToDeel
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreateCandidate'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResultCreated'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - candidates:write
      summary: Add Candidate
      tags:
      - Candidates
      x-forbidden-token-types:
      - personal
      - organization
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--candidates
      x-content-type: application/json
      x-accepts: application/json
  /candidates/{candidate_id}:
    patch:
      description: Update an existed candidate.
      operationId: Candidates_updateCandidateById
      parameters:
      - description: Candidate id.
        example: 37nex2x
        explode: false
        in: path
        name: candidate_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 37nex2x
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToPatchCandidate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResultUpdated'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - candidates:write
      summary: Update Candidate
      tags:
      - Candidates
      x-forbidden-token-types:
      - personal
      - organization
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--candidates-candidate_id
      x-content-type: application/json
      x-accepts: application/json
  /partner-managed/employees/{employee_id}/contracts/{contract_id}/additional-information:
    post:
      description: Add additional information for an EOR employee.
      operationId: PartnerManaged_addAdditionalInformationForEorEmployee
      parameters:
      - description: Unique identifier for an employee in Deel.
        example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
        explode: false
        in: path
        name: employee_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
      - description: Deel contract id.
        example: 37nex2x
        explode: false
        in: path
        name: contract_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 37nex2x
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToAdditionalEORInfo'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResultUpdated'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - contracts:write
      summary: Add additional information
      tags:
      - Partner Managed
      x-forbidden-token-types:
      - personal
      - organization
      - oauth2
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--partner-managed-employees-employee_id-contracts-contract_id-additional-information
      x-content-type: application/json
      x-accepts: application/json
  /partner-managed/employees/{employee_id}/contracts/{contract_id}/signatures:
    post:
      description: Sign a contract as a employee.
      operationId: PartnerManaged_signContract
      parameters:
      - description: Unique identifier for an employee in Deel.
        example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
        explode: false
        in: path
        name: employee_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
      - description: Deel contract id.
        example: 37nex2x
        explode: false
        in: path
        name: contract_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 37nex2x
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreateEmployeeContractSignature'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResultCreated'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - contracts:write
      summary: Sign a contract
      tags:
      - Partner Managed
      x-forbidden-token-types:
      - personal
      - organization
      - oauth2
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--partner-managed-employees-employee_id-contracts-contract_id-signatures
      x-content-type: application/json
      x-accepts: application/json
  /partner-managed/employees/{employee_id}/contracts/{contract_id}/custom-verification-letter:
    post:
      description: "Request employment verification letters, visa support, bank verification\
        \ and more."
      operationId: PartnerManaged_requestCustomVerificationLetter
      parameters:
      - description: Unique identifier for an employee in Deel.
        example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
        explode: false
        in: path
        name: employee_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
      - description: Deel contract id.
        example: 37nex2x
        explode: false
        in: path
        name: contract_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 37nex2x
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToRequestCustomVerificationLetter'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResultCreated'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - contracts:write
      summary: Request custom verification letter
      tags:
      - Partner Managed
      x-forbidden-token-types:
      - personal
      - organization
      - oauth2
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--partner-managed-employees-employee_id-contracts-contract_id-custom-verification-letter
      x-content-type: application/json
      x-accepts: application/json
  /partner-managed/employees/{employee_id}/contracts/{contract_id}/hr-documents:
    get:
      description: List all HR verification letters and documents available.
      operationId: PartnerManaged_listHrVerificationLettersAndDocuments
      parameters:
      - description: Unique identifier for an employee in Deel.
        example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
        explode: false
        in: path
        name: employee_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
      - description: Deel contract id.
        example: 37nex2x
        explode: false
        in: path
        name: contract_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 37nex2x
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HrVerificationLettersAndDocumentsListContainer'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - contracts:read
      summary: List HR verification letters and documents
      tags:
      - Partner Managed
      x-forbidden-token-types:
      - personal
      - organization
      - oauth2
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--partner-managed-employees-employee_id-contracts-contract_id-hr-documents
      x-accepts: application/json
  /partner-managed/employees/{employee_id}/contracts/{contract_id}/hr-documents/{document_id}/download:
    get:
      description: Retrieve URL to download HR verification letters and documents.
      operationId: PartnerManaged_downloadHrVerificationLettersAndDocuments
      parameters:
      - description: Unique identifier for an employee in Deel.
        example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
        explode: false
        in: path
        name: employee_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
      - description: Deel contract id.
        example: 37nex2x
        explode: false
        in: path
        name: contract_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 37nex2x
      - description: Unique identifier for a compliance document in Deel.
        example: 1234
        explode: false
        in: path
        name: document_id
        required: true
        schema:
          type: number
        style: simple
        x-konfig-original-example: 1234
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeAgreementDownloadContainer'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - contracts:read
      summary: Download HR verification letters and documents
      tags:
      - Partner Managed
      x-forbidden-token-types:
      - personal
      - organization
      - oauth2
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--partner-managed-employees-employee_id-contracts-contract_id-hr-documents-document_id-download
      x-accepts: application/json
  /partner-managed/employees/{employee_id}/contracts/{contract_id}/offer-letter:
    get:
      description: Retrieve an EOR job offer letter in HTML. This endpoint does not
        support IC and Global Payroll contract types.
      operationId: PartnerManaged_previewJobOfferLetter
      parameters:
      - description: Unique identifier for an employee in Deel.
        example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
        explode: false
        in: path
        name: employee_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
      - description: Deel contract id.
        example: 37nex2x
        explode: false
        in: path
        name: contract_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 37nex2x
      responses:
        "200":
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/ContractPreview'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
          x-do-not-generate: true
      security:
      - deelToken: []
      - oauth2:
        - contracts:read
      summary: Preview job offer letter
      tags:
      - Partner Managed
      x-forbidden-token-types:
      - personal
      - organization
      - oauth2
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--partner-managed-employees-employee_id-contracts-contract_id-offer-letter
      x-accepts: application/json
  /partner-managed/employees/{employee_id}/contracts/{contract_id}/employee-agreement:
    get:
      description: Retrieve an EOR Employee Agreement content in HTML.
      operationId: PartnerManaged_getEmployeeAgreementHtml
      parameters:
      - description: Unique identifier for an employee in Deel.
        example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
        explode: false
        in: path
        name: employee_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 0123abcd-e031-4f1e-93d4-6bc66e8c4727
      - description: Deel contract id.
        example: 37nex2x
        explode: false
        in: path
        name: contract_id
        required: true
        schema:
          type: string
        style: simple
[...]
